/* target in index.html */
#modal-form {}

/* main dark transparent parent container, The Modal (background) */
#taskModal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 10vw;
    top: 20px;
    width: 80vw;
    /* Full width */
    height: auto;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.7);
    /* Black w/ opacity */
    margin: 5% auto;
    padding: 3%;
}

/* form main header div */
#headerDiv{
    padding: 1%;
    height: 100%;
    width: 100%;
    background-color: rgba(40, 44, 52);;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-between;
}

#formHeader{
    text-shadow: 4px 4px 6px black;
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 1);
}

#closeSpan{
    background-color: firebrick;
    border: 3px solid black;
    vertical-align: middle;
    text-align: center;
    padding: 3px 2px;
    margin: 0;
}

/* The Close Button */

#taskModal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#taskModal .close:hover,
#taskModal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* light background for inputbox area */
#formContent {
    background-color: rgba(176, 194, 229, 1);
    margin: 5% auto;
    /* 15% from the top and centered */
    padding: 5px;
    border: 1px solid #888;
    width: 100%;
    /* Could be more or less, depending on screen size */
    height: 100%;
}

#formContent form div:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#formContent form div:nth-child(4) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#formContent form button {
    vertical-align: right;
}

#taskModal .inputDiv {
    background-color: rgba(40, 44, 52, .6);
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-between;
    padding: 3%;
}

#taskModal .label {
    color: rgba(255, 255, 255, 1);
}

#taskModal .input {
    background-color: whitesmoke;
}

#submitButtonDiv {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-between;
    padding: 3%;
}

#submissionResponse.failure {
    color:red;
}

#submissionResponse.success {
    color:green;
}

